.container {
    width: 100%;
    margin: auto;
}

html {
    background-image: url(../Images/animated_background.svg);
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
}

header{
    background-color: #9FC131;
    color: #042940;
    padding: 1rem;
    text-align: left;
}

nav {
    background-color: #4f2f0f;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: gold;
    padding: 0;
    margin:0;
}

li {
    width: calc(100% / 3)
}

li a {
    background-color: darkblue;
    color: floralwhite;
    width: 100%;
    height: 3rem;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}

li a:hover {
    background-color: #0000f2;
}


main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

section {
    background-color: #265301;
    width: 100%;
}

h2 {
    color: #042940;
    text-align: center;
}

figure {
    text-align: center;
}

img {
    margin: 0 1rem 1rem 0;
    border: 1px black solid;
    border-radius: 8px;
}

p {
    text-align: center;
}