.container {
    width: 100%;
    margin: auto;
}

html {
    background-image: url(../Images/animated_background.svg);
    font-family: "Playfair Display", serif;
}

body {
    margin: 0;
}

header{
    background-color: #F2E4DC;
    color: #4f3e31;
    padding: 1rem;
    text-align: left;
}

nav {
    background-color: #BFB1A8;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: #F2E4DC;
    padding: 0;
    margin:0;
}

li {
    width: calc(100% / 3)
}

li a {
    background-color: #8C7D74;
    color: floralwhite;
    width: 100%;
    height: 3rem;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}

li a:hover {
    background-color: #59493F;
}


main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

section {
    color: #261104;
}

aside {
    padding: 1rem;
}

img {
    margin: 0 1rem 1rem 0;
    border: 1px black solid;
    border-radius: 8px;
}
